// Place all the styles related to the Guesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note {
  color: grey;
  font-size: 10px;
}

.height, .weight {
  margin: 5px 0 0 5px;
}

.submit {
  margin-top: 20px;
}

#result {
  color: green;
  font-weight: bold;
  margin-top: 25px;
}

.female {
  background: url('female.jpg');
  width: 89px;
  height: 89px;
}

.male {
  background: url('male.jpg');
  width: 89px;
  height: 89px;
}

.dont-know {
  background: url('dont-know.jpg');
  width: 220px;
  height: 189px;
}

#error {
  color: red;
  font-weight: bold;
}

li.error {
  margin-left: 15px;
}